@use "../base/colors" as c;
@use "../base/mixins" as m;

.footer {
  padding-bottom: 2rem;
  @include m.theme-mode(
    $bg-light: c.$background-light,
    $bg-dark: c.$background-dark
  );
	@screen lg {
		padding-bottom: 1rem;
	}
  &__divider {
    @apply container mx-auto py-4;
    @include m.containerPadding;
  }
  &__wrapper {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    @screen md {
      flex-direction: row;
      justify-content: space-between;
    }
    @include m.containerPadding;
    @apply container;
  }
}
