@use '../base/colors' as c;
@use "../base/mixins" as m;

.footer {
	@include m.theme-mode(
		$bg-light: c.$background-light,
		$bg-dark: c.$background-dark,
  );
	&__wrapper{
		margin-inline: auto;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 1.5rem;
		@screen md {
			flex-direction: row;
			justify-content: space-between;
		}
		@include m.containerPadding;
    @apply container;
	}
}