@use "../base/colors" as c;
@use "../base/mixins" as m;

.header {
  @include m.theme-mode(
		$bg-light:  c.$background-light,
		$bg-dark: c.$background-dark,
  );
  &__wrapper {
		margin-inline: auto;
    display: flex;
		justify-content: space-between;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		@include m.containerPadding;
    @apply container;
  }
}
