@use '../base/colors' as c;
@use '../base/mixins' as m;

.page {
  .main {
    @apply container;
    margin-inline: auto;
		min-height: 100svh;

		@include m.theme-mode(
			$bg-light: theme('colors.stone.200'),
			$bg-dark: theme('colors.stone.800')
		);
		
    &__wrapper {
			padding-top: 2rem;
			padding-bottom: 2rem;
			@include m.containerPadding;
    }
  }
}
