@use "../base/colors" as c;

.breadcrumb {
  display: flex;
  padding: 0.5rem 0;
	&__item{
		&:last-of-type{
			color: c.$primary;
		}
	}
  &__link {
    text-align: center;
		&:hover {
      color: c.$primary;
      font-weight: 600;
    }
		&::before {
			display: block;
      content: attr(title);
      font-weight: 600;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}
