@use "../base/colors" as c;
@use "../base/mixins" as m;

.social-footer {
  display: flex;
  align-items: center;

  &__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    @screen md {
      flex-direction: row;
      gap: 1rem;
    }
  }
  &__wrapper-link {
    display: grid;
    grid-template-columns: 2.5rem 6rem;
    align-items: center;
		&:hover {
      color: c.$primary;
      font-weight: 600;
    }
  }
  &__icon {
    width: 80%;
    height: 80%;
    margin-inline: auto;
  }
  &__link {
    padding: 0.4rem;
    &::before {
      display: block;
      content: attr(title);
      font-weight: 600;
      height: 0;
      overflow: hidden;
      visibility: hidden;
    }
  }
}
