@use "../base/colors" as c;
@use "../base/mixins" as m;

.social-footer {
  display: flex;
  align-items: center;

  &__links {
    display: flex;
    align-items: center;
		gap: 1rem;
  }

  &__link {
		display: grid;
		grid-template-columns: 2.5rem;
		@screen md{
			column-gap: 0.3rem;		
			grid-template-columns: auto 4.7rem;
			align-items: center;
		}
    &:hover {
      color: c.$primary;
      font-weight: 600;
    }
  }
  &__icon {
    width: 40px;
    height: 40px;
    margin-inline: auto;
  }
	&__link-title {
		display: none;
		@screen md {
			display: inline-block;
		}
	}
}
