@use "../base/colors" as c;
@use "../base/mixins" as m;

.social-footer {
  display: flex;
  align-items: center;

  &__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    @screen md {
      flex-direction: row;
      gap: 1rem;
    }
  }
  &__link {
    padding: 0.4rem;
    display: grid;
    grid-template-columns: 2.5rem 5rem;
    align-items: center;
    &:hover {
      color: c.$primary;
      font-weight: 600;
    }
  }
  &__icon {
    width: 90%;
    height: 90%;
    margin-inline: auto;
  }
}
