@use "colors" as c;
@use "mixins" as m;

@layer base {
  html {
    /* font-size: 62.5%; */
    font-size: 16px;

    @include m.theme-mode(
			$color-light: c.$font-dark, 
			$bg-light: c.$background-base-light,
			$color-dark: c.$font-light, 
			$bg-dark: c.$background-base-dark
		)
  }

  h1 {
    @apply text-6xl;
  }
  h2 {
		@apply text-5xl;
  }
  h3 {
		@apply text-4xl;
  }
	
  body {
		@apply text-lg;
  }

  a {
		display: inline-block;
  }
}
