@mixin light-mode {
  @media (prefers-color-scheme: light) {
    @content;
  }
}
@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin theme-mode(
  $color-light: inherit,
  $bg-light: inherit,
  $color-dark: inherit,
  $bg-dark: inherit
) {
  @include light-mode {
		color: $color-light;
    background-color: $bg-light;
  }
	
  @include dark-mode {
		color: $color-dark;
    background-color: $bg-dark;
  }
}

@mixin containerPadding {
	padding-left: 1rem;
	padding-right: 1rem;
	@screen md{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	@screen lg{
		padding-left: 4rem;
		padding-right: 4rem;
	}
}
